#gif-key {
  display: none;
}

#topFormPad {
  margin-top: 10px;
}

#well {
  background: transparent;
}

#imageBox {
  display: inline-block;
  margin: 10px;
}

#spotifyButton {
  margin-top: 10px;
  background-color: #32CD64;
  color: #fff;

}

#gifButton {
  margin-top: 10px;
  background: red; /* not working, let's see some red */
      background: -moz-linear-gradient( top ,
          rgba(255, 0, 0, 1) 0%,
          rgba(255, 255, 0, 1) 15%,
          rgba(0, 255, 0, 1) 30%,
          rgba(0, 255, 255, 1) 50%,
          rgba(0, 0, 255, 1) 65%,
          rgba(255, 0, 255, 1) 80%,
          rgba(255, 0, 0, 1) 100%);
      background: -webkit-gradient(linear,  left top,  left bottom,
          color-stop(0%, rgba(255, 0, 0, 1)),
          color-stop(15%, rgba(255, 255, 0, 1)),
          color-stop(30%, rgba(0, 255, 0, 1)),
          color-stop(50%, rgba(0, 255, 255, 1)),
          color-stop(65%, rgba(0, 0, 255, 1)),
          color-stop(80%, rgba(255, 0, 255, 1)),
          color-stop(100%, rgba(255, 0, 0, 1)));
}

#iframePad {
  margin: 10px;
}
